/*ШРИФТЫ*/

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

:root {
  --basic-extra-dark: #2D3440;
  --basic-dark: #565C66;
  --basic-neutral: #B9B9B9;
  --basic-light: #E7E7E7;
  --basic-extra-light: #FCFCFC;
  --basic-white: #FFF;
  --font-inter: "Inter", "Arial", sans-serif;
  --special-extra-bright: #FF2F64;
  --special-bright: #FF4A78;
  --special-neutral: #F79;
  --special-light: #FEAFC3;
  --special-exta-light: #FFCBD8;
  --special-blue: #69A9FF;
  --special-yellow: #FCC850;
  --status-error: #EA5454;
  --status-warning: #FD912E;
  --status-success: #00E484;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: var(--font-inter);
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565C66;
  background-color: var(--special-light);
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.main-page {
  flex-grow: 1;
}

.main-page-index {
  display: grid;
  gap: 80px;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  margin: 0;
  font-family: var(--font-inter);
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: 46px;
  color: var(--basic-extra-dark);
}

.link {
  text-decoration: none;
  color: var(--basic-extra-dark)
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.button {
  display: inline-block;
  font-family: var(--font-inter);
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: var(--basic-extra-dark);
  border-radius: 26px;
  outline: 4px solid rgb(252, 252, 252, 0.40);
  background: var(--basic-extra-light);
  box-shadow: 0px 4px 12px 0px rgba(45, 52, 64, 0.1);
  border: none;
  padding: 12px 32px;
  cursor: pointer;
}

.button-dark {
  color: var(--basic-extra-light);
  outline: 4px solid rgb(255, 47, 100, 0.30);
  background: var(--special-extra-bright);
}

/*ГЛАВНАЯ СТРАНИЦА*/
/*ШАПКА*/

.header-container {
  padding: 24px 0 24px;
}

/*НАВИГАЦИЯ*/

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-wrapper {
  display: flex;
  gap: 16px;
  align-items: center;
}

.navigation-logo {
  display: block;
  cursor: pointer;
}

/* Отключить взаимодействие с логотипом на главной странице

.navigation-logo-inactive {
  pointer-events: none;
} */

.navigation-list {
  display: flex;
  align-items: center;
}

.navigation-link {
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  padding: 0 16px;
}

.dropdown-container {
  display: none;
}

.navigation-user-list {
  display: flex;
  gap: 16px;
  align-items: center;
}

.navigation-user-link {
  display: block;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding: 8px;
}

.navigation-phone {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

.navigation-user-ico {
  padding-top: 2px;
}

/*КОРЗИНА*/

.dropdown-basket-full .basket-content-full,
.dropdown-basket-empty .basket-content-empty {
  display: block;
}

.basket-content {
  display: none;
}

/*СЛАЙДЕР*/

.slider {
  position: relative;
}

.slider-list {
  display: flex;
  align-items: center;
  gap: 37px;
}

.slider-item-active {
  display: grid;
  grid-template-columns: 500px 367px 1fr;
  gap: 26px;
}

.slider-content {
  margin-left: 70px;
}

.slider-image-container {
  display: block;
  text-align: center;
}

.slider-title {
  font-family: inherit;
  font-size: 36px;
  font-weight: 900;
  line-height: 46px;
  margin: 136px 0 24px;
}

.slider-description {
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin: 0 0 48px;
}

.slider-arrow-container {
  position: relative;
  width: 343px;
  left: 530px;
  bottom: 250px;
  display: flex;
  justify-content: space-between;
}

.slider-arrow {
  border: none;
  background-color: transparent;
}

.button-slider-next {
  transform: rotate(180deg);
}

.slider-wrapper {
  display: flex;
  justify-content: space-between;
}

.bullets-list {
  display: flex;
  gap: 8px;
}

.bullets-link {
  width: 12px;
  height: 12px;
  border-radius: 100px;
  border: none;
  background-color: var(--basic-extra-light);
}

.bullets-link {
  width: 12px;
  height: 12px;
  border-radius: 100px;
  border: none;
  background-color: var(--basic-extra-light);
  opacity: 0.3;
}

.bullets-link-active {
  opacity: 1;
}

/*ПОДАРКИ*/

.gifts-container {
  text-align: center;
}

.gifts-title {
  margin-bottom: 55px;
}

.gifts-list {
  display: grid;
  grid-template-columns: 570px 1fr;
  gap: 30px;
}

.gifts-item {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 28px;
  padding: 36px 217px 36px 36px;
  background-color: #F79;
  background-repeat: no-repeat;
  background-position: right;
  border-radius: 16px;
}

.gifts-item-raspberry {
  background-image: url(../images/raspberry-gift.png);
}

.gifts-item-marshmallow {
  background-image: url(../images/marshmallow-gift.png);
}

.gifts-item-title {
  margin: 0;
  font-family: inherit;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-extra-dark);
}

.gifts-item-description {
  margin: 0;
  text-align: start;
  font-family: inherit;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-extra-dark);
}

/*ПОПУЛЯРНОЕ(КАТАЛОГ)*/

.popular-container {
  text-align: center;
}

.popular-title {
  margin-bottom: 56px;
}

/*ПРЕИМУЩЕСТВА*/

.advantages-container {
  text-align: center;
  border-radius: 16px;
  background-image: url(../images/waffle.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 24px;
}

.advantages-wrapper {
  background-color: var(--basic-white);
  border-radius: 16px;
  text-align: center;
  width: 1122px;
  padding: 56px 40px;
}

.advantages-title {
  margin-bottom: 56px;
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 32px;
}

.advantages-description {
  margin: 0;
  text-align: start;
}

.promo-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

/*НОВОЕ В БЛОГЕ*/

.blog {
  background-color: var(--basic-white);
  border-radius: 16px;
  padding: 32.6px 235px 67.2px 32px;
}

.blog-title-article {
  font-family: inherit;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.blog-title {
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  margin-bottom: 12.2px;
}

/*ПОДПИСКА*/

.mailing {
  background-color: var(--basic-white);
  border-radius: 16px;
  padding: 32px 32px 32px 34px;
}

.mailing-description {
  margin: 0;
  margin-bottom: 42px;
}

.mailing-form {
  display: flex;
  justify-content: space-between;
  gap: 14px;
}

.mailing-form-input {
  padding: 14px 90px 14px 16px;
  color: var(--basic-neutral);
  font-family: var(--font-inter);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  border-radius: 4px;
  border: 1px solid var(--basic-neutral);
  background: var(--basic-white);
}

/*ДОСТАВКА*/

.delivery-container {
  display: grid;
  grid-template-columns: 371px 1fr;
  gap: 135px;
  background-color: #f1f1f1;
  border-radius: 16px;
  padding: 64px 64px 64px 100px;
}

.delivery-form-tooltip {
  display: flex;
  gap: 4px;
}

.delivery-tooltip {
  position: relative;
}

.delivery-tooltip-text {
  position: absolute;
  z-index: 1;
  display: none;
}

.delivery-title {
  margin: 103px 0 24px;
}

.delivery-contact {
  padding: 40px 40px 42px 40px;
  border-radius: 8px;
  background-color: var(--basic-extra-light);
  box-shadow: 0px 15px 40px 0px rgba(45, 52, 64, 0.12);
}

.delivery-description {
  margin: 0;
  margin-bottom: 32px;
}

.delivery-fieldset {
  display: grid;
  grid-template-columns: 117px 1fr;
  gap: 20px 16px;
}

.delivery-fieldset-group {
  border: none;
  padding: 0;
  margin: 0;
}

.delivery-form-label {
  font-family: inherit;
  font-weight: 700;
  line-height: 20px;
  color: var(--basic-extra-dark);
  margin: 0;
}

.delivery-form-input {
  margin: 0;
  margin-top: 8px;
  padding: 13px 15px;
  text-align: start;
  font-family: var(--font-inter);
  color: var(--basic-neutral);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.delivery-form-input-date {
  width: 117px;
}

.delivery-form-input-phone {
  width: 287px;
}

.delivery-form-input-address {
  width: 420px;
  grid-column: 1 / span 3;
}

.delivery-form-button {
  margin-top: 32px;
}

/*КОНТАКТЫ*/

.contacts {
  background-color: #f1f1f1;
  border-radius: 16px;
  padding: 64px 763px 64px 64px;
}

.contacts-container {
  background-color: var(--basic-extra-light);
  width: 343px;
  padding: 40px;
  border-radius: 8px;
  background: var(--basic-extra-light);
  box-shadow: 0px 8px 16px 0px rgba(45, 52, 64, 0.12);
}

.contacts-description {
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: var(--basic-dark);
  margin: 0;
  margin-bottom: 12px;
}

.contacts-address,
.contacts-phone-link {
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  line-height: 24px;
  color: var(--basic-extra-dark);
  margin: 0;
}

.contacts-address {
  margin-bottom: 24px;
}

.contacts-reference {
  font-family: inherit;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 30px;
}

/*ПОДВАЛ*/

.footer-page {
  display: grid;
  grid-template-columns: 108px 356px 193px;
  gap: 256px;
  padding: 48px 0 48px;
}

.social-list {
  display: grid;
  justify-content: start;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}

.footer-info-list {
  display: grid;
  grid-template-columns: 150px 182px;
  gap: 8px 24px;
}

.footer-info-item {
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.footer-info-item-suppliers {
  font-weight: 700;
}

.footer-htmlacademy-description {
  font-family: inherit;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

/*СТРАНИЦА КАТАЛОГА*/

/*ХЛЕБНЫЕ КРОШКИ*/

.inner-header {
  padding: 32px 0 40px;
}

.breadcrumbs-list {
  display: flex;
  gap: 28px;
}

.breadcrumbs-item {
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  margin: 0;
}

.inner-header-title {
  margin-top: 16px;
}

/*ФИЛЬТР ТОВАРОВ*/

.filter-container {
  margin-bottom: 44px;
}

.catalog-filter-group {
  border: none;
}

.catalog-filter-title {
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  margin-bottom: 8px;
}

.control-label {
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.catalog-filter-button {
  border-radius: 26px;
  border: 2px solid var(--basic-extra-light);
  background: rgba(252, 252, 252, 0.30);
  outline: none;
  font-size: 14px;
}

/*КАТАЛОГ ТОВАРОВ*/

.product-container-catalog {
  margin-bottom: 40px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px 30px;
}

.product-card-item {
  padding: 0 40px 24px 40px;
  background-color: var(--basic-extra-light);
  border-radius: 8px;
}

.product-card-image {
  padding: 0 11px 16px 11px;
  margin: 0;
}

.product-card-title {
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  margin-bottom: 8px;
  text-align: center;
}

.product-card-description {
  font-family: inherit;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  margin: 0;
  margin-bottom: 16px;
}

.product-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-card-price {
  font-family: inherit;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  color: var(--basic-extra-dark);
}

.product-card-button {
  display: block;
  background-color: var(--special-extra-bright);
  padding: 7px;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.product-list-more {
  display: grid;
  grid-template-columns: 168px 179px 168px;
  gap: 328px;
  padding: 41px 0;
}

.button-product-list {
  grid-column: 2 / span 1;
}

.pagination-list {
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  gap: 8px;
}
